<!DOCTYPE html>
<html>

<head>
  <title>PTA | Athletes</title>
  <link rel="icon" type="image/x-icon" href="../images/favicon.ico" />
  <link rel="stylesheet" type="text/css" href="../stylesheets/athletes.css" />
  <link rel="stylesheet" type="text/css" href="../stylesheets/navbar.css" />
  <link rel="stylesheet" type="text/css" href="../stylesheets/modal.css" />
</head>

<body class="container">
  <div class="header">
    <div class="navbar">
      <a href="/home"><img src="/images/logo.png" class="logo" alt="Logo"></a>
      <ul class="tabs">
        <li class="home"><a href="/home">Home</a></li>
        <li class="athletes"><a href="/athletes">Athletes</a></li>
        <li class="clubs"><a href="/clubs">Clubs</a></li>
        <li class="events"><a href="/events">Events</a></li>
        <li class="membership"><a href="/membership">Membership</a></li>
        <li class="forum"><a href="/forum">Forum</a></li>
        <li class="notifications">
          <a href="/notifications">Notifications
            {{#if notifications}}
            <span class="badge">{{notifications.length}}</span>
            {{/if}}
          </a>
        </li>
        <li class="analytics"><a href="analytics">Reports</a></li>
        <li class="profile-pic">
          {{#if user.profilepic}}
          <a href="#" onclick="toggleDropdown()"><img src="{{user.profilepic}}" alt="Profile Picture"
              class="profile-picture"></a>
          {{else}}
          <a href="#" onclick="toggleDropdown()" class="profile-picture"><img src="/images/none.jpg"
              alt="Profile Picture" class="profile-picture"></a>
          {{/if}}
          <div id="dropdown" class="dropdown-content">
            <a href="/profile">Profile</a>
            <a href="/settings">Settings</a>
            <a href="/help-center">FAQs</a>
            <a href="/">Logout</a>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div class="athlete-rankings-container">
    <div class="athlete-rankings-title">
      <h1>Athlete Rankings</h1>
      <p>Unleash the Spirit of Competition and Track the Journey of Our Top Athletes!</p>
    </div>
  </div>


  <div class="athletes-container">
    <div class="filter-panel">

      <div class="filter-header">
        <h2>Filter Options</h2>
        <p>Customize your view by selecting relevant filters.</p>
      </div>

      <div class="filters-row">
        <div class="filter-group">
          <label for="belt-color" class="search-label">Belt Color</label>
          <div class="dropdown">
            <button class="dropbtn">Choose belt color</button>
            <div class="dropdown-content">
              <label><input type="checkbox" value="White Belt"> White Belt</label>
              <label><input type="checkbox" value="Low Yellow Belt"> Low Yellow Belt</label>
              <label><input type="checkbox" value="High Yellow Belt"> High Yellow Belt</label>
              <label><input type="checkbox" value="Low Blue Belt"> Low Blue Belt</label>
              <label><input type="checkbox" value="High Blue Belt"> High Blue Belt</label>
              <label><input type="checkbox" value="Low Red Belt"> Low Red Belt</label>
              <label><input type="checkbox" value="High Red Belt"> High Red Belt</label>
              <label><input type="checkbox" value="Low Brown Belt"> Low Brown Belt</label>
              <label><input type="checkbox" value="High Brown Belt"> High Brown Belt</label>
              <label><input type="checkbox" value="Junior/Poom Black Belt"> Junior/Poom Black Belt</label>
              <label><input type="checkbox" value="Black/Dan Belt"> Black/Dan Belt</label>
              <button class="done-btn">Done</button>
            </div>
          </div>
        </div>

        <div class="filter-group">
          <label for="club" class="search-label">Club</label>
          <div class="dropdown">
            <button class="dropbtn">Choose club here</button>
            <div class="dropdown-content">
              {{#each clubs}}
              <label><input type="checkbox" value="{{id}}"> {{this.clubname}}</label>
              {{/each}}
              <button class="done-btn">Done</button>
            </div>
          </div>
        </div>

        <div class="filter-group search-group">
          <label for="athlete-search" class="search-label">Search Athlete</label>
          <input type="text" id="athlete-search" placeholder="Search...">
        </div>
        <button class="apply-btn">Apply</button>
      </div>
    </div>


    <table class="rankings">
      <thead>
        <tr>
          <th>Rank</th>
          <th>Name</th>
          <th>Club</th>
          <th>Belt Level</th>
          <th>Points</th>
          <th>Status</th>
          {{#if user.isAdmin}}
          <th>Actions</th>
          {{/if}}
        </tr>
      </thead>
      <tbody id="athletes-tbody">
        {{#each athletes}}
        <tr data-athlete-id="{{id}}"
          onclick="showAthleteDetails('{{id}}', '{{name}}', '{{athleteClass}}', '{{height}}', '{{weight}}', '{{birthplace}}', '{{club}}', '{{portrait}}', '{{userid}}')">
          <td>{{index}}</td>
          <td>{{name}}</td>
          <td>{{club}}</td>
          <td>{{beltlevel}}</td>
          <td>{{rankingpoints}}</td>
          <td class="status">{{status}}</td>
          {{#if ../user.isAdmin}}
          <td>
            <div class="dropdown-container">

              <div id="status-athlete" class="status-content">
                <a href="#" onclick="updateStatus('{{id}}', 'Active')" class="status-click">Activate</a>
                <a href="#" onclick="updateStatus('{{id}}', 'Banned')" class="status-click">Ban</a>
                <a href="#" onclick="updateStatus('{{id}}', 'Suspended')" class="status-click">Suspend</a>
              </div>
            </div>
          </td>
          {{/if}}
        </tr>
        {{/each}}
      </tbody>
    </table>

    <div id="athlete-details" class="athlete-details">
      <div class="athlete-header">
        <img id="athlete-image" src="" alt="Athlete Image">
        <div class="athlete-info">
          <h2 id="athlete-name">Name</h2>
          <p id="athlete-class">Class</p>
          <p id="athlete-height-weight">Height/Weight</p>
          <p id="athlete-birthplace">Birthplace</p>
          <p id="athlete-club">Club</p>
        </div>
        {{#if clubs}}
        <div class="invite-button">
          <button onclick="openModal()">Invite to Club</button>
        </div>
        {{/if}}
        <div class="moredets">
          <a id="more-details-link" href="athletes-profile/">More Details &rarr;</a>
        </div>
      </div>
    </div>
  </div>

  <div id="inviteModal" class="modal">
    <div class="modal-content">
      <span class="close">&times;</span>
      <form action="/invite-player" method="POST">
        <input type="hidden" name="userid" id="modal-userid" value="">
        <label for="club">Select Club:</label>
        <select id="clubid" name="clubid">
          {{#each clubs}}
          <option value="{{id}}">{{clubname}}</option>
          {{/each}}
        </select>
        <button type="submit">Invite</button>
      </form>
    </div>
  </div>

  <footer>
    <div class="footer-content">
      <div class="pta-logo">
        <img src="/images/logo.png" alt="PTA Logo">
      </div>
      <div class="contact-info">
        <p>Philippine Taekwondo Central Headquarters</p>
        <p>Rizal Memorial Coliseum, Manila, Philippines</p>
        <p>0977 384 5879</p>
        <p>pthtkd@gmail.com</p>
      </div>
      <div class="social-media">
        <p>Follow us</p>
        <div class="icons">
          <a href="https://www.facebook.com"><img src="/images/homepage/fb.png" alt="Facebook"></a>
          <a href="https://www.instagram.com"><img src="/images/homepage/ig.png" alt="Instagram"></a>
          <a href="https://www.twitch.com"><img src="/images/homepage/twitch.webp" alt="Twitch"></a>
        </div>
      </div>
    </div>
  </footer>

  <script>
     document.addEventListener("DOMContentLoaded", function () {
      if (document.querySelectorAll('.notification').length > 0) {
        let nonotifs = document.querySelectorAll('.no-notifs');
        nonotifs.forEach(function (element) {
          element.style.display = 'none';
        });
      }
    });

    function toggleDropdown() {
      document.getElementById("dropdown").classList.toggle("show");
    }

    window.onclick = function (event) {
      if (!event.target.matches('.profile-pic img')) {
        var dropdowns = document.getElementsByClassName("dropdown-content");
        for (var i = 0; i < dropdowns.length; i++) {
          var openDropdown = dropdowns[i];
          if (openDropdown.classList.contains('show')) {
            openDropdown.classList.remove('show');
          }
        }
      }
    }

    function toggleDropdownStatus() {
      document.getElementById("dropdown1").classList.toggle("show");
    }

    window.onclick = function (event) {
      if (!event.target.matches('.profile-pic img')) {
        var dropdowns = document.getElementsByClassName("dropdown-content");
        for (var i = 0; i < dropdowns.length; i++) {
          var openDropdown = dropdowns[i];
          if (openDropdown.classList.contains('show')) {
            openDropdown.classList.remove('show');
          }
        }
      }
    }

    function toggleStatusDropdown(dropdownId) {
      // Close all other status dropdowns first
      document.querySelectorAll(".status-dropdown-content").forEach(dropdown => {
        if (dropdown.id !== dropdownId) {
          dropdown.classList.remove("show");
        }
      });

      // Toggle the specific status dropdown
      const dropdown = document.getElementById(dropdownId);
      dropdown.classList.toggle("show");

      // Close the dropdown when clicking outside
      document.addEventListener("click", function closeStatusDropdown(event) {
        if (!dropdown.contains(event.target)) {
          dropdown.classList.remove("show");
          document.removeEventListener("click", closeStatusDropdown);
        }
      });
    }


    function showAthleteDetails(id, name, athleteClass, height, weight, birthplace, club, portrait, userid) {
      document.getElementById("athlete-name").textContent = name;
      document.getElementById("athlete-class").textContent = "Class: " + athleteClass;
      document.getElementById("athlete-height-weight").textContent = "HT/WT: " + height + " cm, " + weight + " kg";
      document.getElementById("athlete-birthplace").textContent = "Location: " + birthplace;
      document.getElementById("athlete-club").textContent = "Club: " + club;
      document.getElementById("athlete-image").src = portrait;
      document.getElementById("modal-userid").value = userid;
      document.getElementById("more-details-link").href = "/athletes-profile/" + id;
      document.getElementById("athlete-details").style.display = "block"; // Show the athlete details
    }

    // Modal functionality
    var modal = document.getElementById("inviteModal");
    var span = document.getElementsByClassName("close")[0];

    function openModal() {
      modal.style.display = "block";
    }

    span.onclick = function () {
      modal.style.display = "none";
    }

    window.onclick = function (event) {
      if (event.target == modal) {
        modal.style.display = "none";
      }
    }

    // try
    function updateStatus(athleteId, newStatus) {
      var statusCell = document.querySelector(`tr[data-athlete-id='${athleteId}'] .status`);

      // Update the status in the UI
      statusCell.textContent = newStatus;

      // Send the new status to the server
      fetch('/update-athlete-status', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify({
          id: athleteId,
          status: newStatus
        })
      })
        .then(response => response.json())
        .then(data => {
          if (data.success) {
            alert('Status updated successfully!');
          } else {
            alert('Failed to update status.');
          }
        })
        .catch(error => {
          console.error('Error updating status:', error);
          alert('An error occurred while updating the status.');
        });
    }



    document.querySelector('.apply-btn').addEventListener('click', function () {
      const searchInput = document.getElementById('athlete-search').value.toLowerCase(); // Get the search input
      console.log("Search input: ", searchInput);
      // Get all rows in the athlete table
      const athleteRows = document.querySelectorAll('#athletes-tbody tr');

      athleteRows.forEach(row => {
        const athleteName = row.querySelector('td:nth-child(2)').textContent.toLowerCase(); // Get athlete's name from the 2nd column
        console.log("Checking athlete: ", athleteName);
        // Check if the athlete's name includes the search query
        if (athleteName.includes(searchInput)) {
          row.style.display = ''; // Show the row if it matches
        } else {
          row.style.display = 'none'; // Hide the row if it doesn't match
        }
      });
    });

    document.querySelectorAll('.done-btn').forEach(button => {
      button.addEventListener('click', function (event) {
        const dropdownContent = event.target.parentNode;
        dropdownContent.style.display = 'none';
      });
    });

    document.querySelectorAll('.dropbtn').forEach(button => {
      button.addEventListener('click', function () {
        const dropdownContent = this.nextElementSibling;
        dropdownContent.style.display = dropdownContent.style.display === 'block' ? 'none' : 'block';
      });
    });

    // filter
    /* document.querySelector('.apply-btn').addEventListener('click', function () {
       // Get selected belt colors
       const selectedBeltColors = Array.from(document.querySelectorAll('.dropdown-content input[type="checkbox"]:checked'))
         .map(checkbox => checkbox.value.toLowerCase());
 
       // Get all athlete rows in the table
       const athleteRows = document.querySelectorAll('#athletes-tbody tr');
 
       athleteRows.forEach(row => {
         const athleteBeltLevel = row.querySelector('td:nth-child(4)').textContent.toLowerCase(); // Get athlete's belt level
 
         // Check if the athlete's belt level is in the selected belt colors
         if (selectedBeltColors.includes(athleteBeltLevel) || selectedBeltColors.length === 0) {
           row.style.display = ''; // Show row if it matches or if no filter is selected
         } else {
           row.style.display = 'none'; // Hide row if it doesn't match
         }
       });
     }); */

    //FILTER
    document.querySelector('.apply-btn').addEventListener('click', function () {
      const searchInput = document.getElementById('athlete-search').value.toLowerCase().trim();
      const selectedBeltColors = Array.from(document.querySelectorAll('.dropdown-content input[type="checkbox"]:checked'))
        .map(checkbox => checkbox.value.toLowerCase());

      const athleteRows = document.querySelectorAll('#athletes-tbody tr');

      athleteRows.forEach(row => {
        const athleteName = row.querySelector('td:nth-child(2)').textContent.toLowerCase();
        const athleteBeltLevel = row.querySelector('td:nth-child(4)').textContent.toLowerCase();

        const matchesSearch = searchInput === '' || athleteName.includes(searchInput);
        const matchesBeltColor = selectedBeltColors.length === 0 || selectedBeltColors.includes(athleteBeltLevel);

        if (matchesSearch && matchesBeltColor) {
          row.style.display = '';
        } else {
          row.style.display = 'none';
        }
      });
    });

    // Automatically show all rows when search input is cleared
    document.getElementById('athlete-search').addEventListener('input', function () {
      if (this.value.trim() === '') {
        const athleteRows = document.querySelectorAll('#athletes-tbody tr');
        athleteRows.forEach(row => row.style.display = ''); // Show all rows
      }
    });

  </script>
</body>

</html>