<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Athlete Details</title>
  <link rel="icon" type="image/x-icon" href="../images/favicon.ico" />
  <link rel="stylesheet" href="/stylesheets/navbar.css">
  <link rel="stylesheet" href="/stylesheets/athletes-profile.css">
</head>
<body>
  <div class="header">
    <div class="navbar">
      <a href="/home"><img src="/images/logo.png" class="logo" alt="Logo"></a>
      <ul class="tabs">
        <li class="home"><a href="/home">Home</a></li>
        <li class="athletes"><a href="/athletes">Athletes</a></li>
        <li class="clubs"><a href="/clubs">Clubs</a></li>
        <li class="events"><a href="/events">Events</a></li>
        <li class="membership"><a href="/membership">Membership</a></li>
        <li class="forum"><a href="/forum">Forum</a></li>
        <li class="notifications">
        <a href="/notifications">Notifications
          {{#if notifications}}
          <span class="badge">{{notifications.length}}</span>
          {{/if}}
        </a>
      </li>
        <li class="analytics"><a href="analytics">Analytics</a></li>
        <li class="profile-pic">
          {{#if user.profilepic}}
            <a href="#" onclick="toggleDropdown()"><img src="{{user.profilepic}}" alt="Profile Picture" class="profile-picture"></a>
          {{else}}
            <a href="#" onclick="toggleDropdown()" class="profile-picture"><img src="/images/none.jpg" alt="Profile Picture" class="profile-picture"></a>
          {{/if}}
          <div id="dropdown" class="dropdown-content">
            <a href="/profile">Profile</a>
            <a href="/settings">Settings</a>
            <a href="/help-center">FAQs</a>
            <a href="/">Logout</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <main>
    <div class="athlete-header">
      <img src="{{athlete.portrait}}" alt="Athlete Picture" class="athlete-pic">
      <div class="athlete-info">
        <h1>{{athlete.name}}</h1>
        <p class="team">{{athlete.club}}</p>
        <div class="invite-button">
          {{!-- <a action="invite-player">+ Invite this player to your club</a> --}}
        </div>
      </div>
      <div class="athlete-stats">
        <div class="stat">
          <span class="label">Kyurogi Ranking Points</span>
          <span class="value">{{athlete.rankingpoints}}1</span>
        </div>
        <div class="stat">
          <span class="label">Poomsae Ranking Points</span>
          <span class="value">{{athlete.poomsaerankingpoints}}</span>
        </div>
      </div>
    </div>
    <div class="athlete-details">
      <div class="previous-game">
        <h2>Competition History</h2>
        <table class="career-stats">
          <thead>
            <tr>
              <th>Event</th>
              <th>Date</th>
              <th>Location</th>
              <th>Division</th>
              <th>Place</th>
            </tr>
          </thead>
          <tbody>
            {{#reverseEach matchdata}}
            <tr>
              <td>{{eventname}}</td>
              <td>{{formatCreatedAt created_at}}</td>
              <td>{{location}}</td>
              <td>{{division}}</td>
              <td>{{ranking}}</td>
            </tr>
            {{/reverseEach}}
          </tbody>
        </table>
      </div>
    </div>
  </main>
</body>
</html>

