<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>PTA | Club Details</title>
  <link rel="icon" type="image/x-icon" href="../images/favicon.ico" />
  <link rel="stylesheet" type="text/css" href="../stylesheets/navbar.css" />
  <link rel="stylesheet" type="text/css" href="../stylesheets/clubs-details.css" />
</head>

<body class="container">
  <div class="header">
    <div class="navbar">
      <a href="/home"><img src="/images/logo.png" class="logo" alt="Logo"></a>
      <ul class="tabs">
        <li class="home"><a href="/home">Home</a></li>
        <li class="athletes"><a href="/athletes">Athletes</a></li>
        <li class="clubs"><a href="/clubs">Clubs</a></li>
        <li class="events"><a href="/events">Events</a></li>
        <li class="membership"><a href="/membership">Membership</a></li>
        <li class="forum"><a href="/forum">Forum</a></li>
        <li class="notifications">
          <a href="/notifications">Notifications
            {{#if notifications}}
            <span class="badge">{{notifications.length}}</span>
            {{/if}}
          </a>
        </li>
        <li class="analytics"><a href="analytics">Analytics</a></li>
        <li class="profile-pic">
          {{#if user.profilepic}}
          <a href="#" onclick="toggleDropdown()"><img src="{{user.profilepic}}" alt="Profile Picture"
              class="profile-picture"></a>
          {{else}}
          <a href="#" onclick="toggleDropdown()" class="profile-picture"><img src="/images/none.jpg"
              alt="Profile Picture" class="profile-picture"></a>
          {{/if}}
          <div id="dropdown" class="dropdown-content">
            <a href="/profile">Profile</a>
            <a href="/settings">Settings</a>
            <a href="/help-center">FAQs</a>
            <a href="/">Logout</a>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div class="events-container">
    <img src="{{club.clubpic}}" alt="Club Picture">
    <div class="clubname">
      <span class="name">{{club.clubname}}</span>
      {{#if (ne club.clubname user.club)}}
      <form action="/request-join-club" method="POST">
        <input type="hidden" name="clubid" value="{{club.id}}">
        <button type="submit" class="joinbtn">Join this club</button>
      </form>
      {{/if}}
    </div>

    <div id="editclubmodal" class="modal">
      <div class="modal-content">
        <span class="close" onclick="closeModal()">&times;</span>
        <form id="clubform" class="club-form" action="/update-club" method="post" enctype="multipart/form-data">
          <input type="hidden" name="clubid" value="{{club.id}}">

          <!-- Club Picture Upload -->
          <div class="clubpic">
            <input type="hidden" name="existingClubPicture" value="{{club.clubpic}}">
            <input type="file" name="clubpicture">
          </div>

          <!-- Club Name -->
          <div class="form-group">
            <label for="clubname">Club Name:</label>
            <input type="text" id="clubname" name="clubname" value="{{club.clubname}}" required>
          </div>

          <!-- Club Address -->
          <div class="form-group">
            <label for="clubaddress">Club Address:</label>
            <textarea id="clubaddress" name="clubaddress" rows="4" required>{{club.clubaddress}}</textarea>
          </div>

          <!-- Email -->
          <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" value="{{club.email}}" required>
          </div>

          <!-- Phone Number -->
          <div class="form-group">
            <label for="phonenum">Phone Number:</label>
            <input type="text" id="phonenum" name="phonenum" value="{{club.phonenum}}" required>
          </div>

          <!-- Region -->
          <div class="form-group">
            <label for="region">Region:</label>
            <input type="text" id="region" name="region" value="{{club.region}}" required>
          </div>

          <!-- Brief Description -->
          <div class="form-group">
            <label for="description">Brief Description:</label>
            <textarea id="description" name="description" rows="4">{{club.description}}</textarea>
          </div>

          <!-- Cancel and Update Buttons -->
          <button onclick="closeModal()" class="cancel">Cancel</button>
          <button type="submit">Update Club</button>
        </form>
      </div>
    </div>

    <div class="clubtabs">
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Members</a></li>
        {{#if (eq club.registeredby user.id)}}
        <li><a href="#">Announcements</a></li>
        <li><a href="#">Requests</a></li>
        {{/if}}
        <li><a href="#">Activity</a></li>
      </ul>
    </div>
    <br>
    <!-- Modal for Creating Announcements -->
    <div id="announceModal" class="modal">
      <div class="modal-content">
        <span class="close" onclick="closeannounceModal()">&times;</span>
        <form id="announcementform" class="announcement-form" action="/create-announcement" method="post">
          <input type="hidden" name="clubid" value="{{club.id}}">

          <!-- Announcement Title -->
          <div class="form-group">
            <label for="title">Title:</label>
            <input type="text" id="title" name="title" required>
          </div>

          <!-- Announcement Subject -->
          <div class="form-group">
            <label for="subject">Subject:</label>
            <input type="text" id="subject" name="subject" required>
          </div>

          <!-- Announcement Body -->
          <div class="form-group">
            <label for="body">Body:</label>
            <textarea id="body" name="body" rows="5" required></textarea>
          </div>

          <!-- Submit Button -->
          <button type="submit">Post Announcement</button>
        </form>
      </div>
    </div>

    <div class="detailstab">
      <div class="leftside">
        <div class="intro">
          <div class="details">
            <span>Details</span>
            {{#if (eq club.registeredby user.id)}}
            <button class="edit-button" onclick="openModal()"></button>
            {{/if}}
          </div>
          <p>{{club.clubaddress}}</p>
          <p>{{club.email}}</p>
          <p>{{club.phonenum}}</p>
        </div>
      </div>

      <div class="rightside">
        {{#if (eq club.registeredby user.id)}}
        <button class="invite-button" onclick="openModal()">+ Invite Members</button>
        {{/if}}
      </div>
    </div>

    <!-- Announcements Section -->
    <div class="announcements-section" id="announcements-section" style="display: none;">
      {{#if (eq club.registeredby user.id)}}
        <button class="create-announcement-button" onclick="openannounceModal()">+ Create Announcement</button>
      {{/if}}
      <h2>Club Announcements</h2>
      <div class="announcements-container">
        {{#each announcements}}
        <div class="announcement-block">
          <h3>{{this.title}}</h3>
          <h4>{{this.subject}}</h4>
          <p>{{this.body}}</p>
        </div>
        {{/each}}
      </div>
    </div>
    <div class="activity-section" id="activity-section" style="display: none;">
        <h2>Upcoming Events</h2>
        <div id="calendar"></div> <!-- Calendar Placeholder -->
    </div>
  </div>

  <div class="participants-container">
    <div class="participants-title">
      Head Instructor: <h2>{{club.registeree}}</h2>
    </div>
    <div class="participants-title">Members of this club:</div>
    <table class="participants-table">
      <thead>
        <tr>
          <th>Picture</th>
          <th>Player</th>
          <th>Height (cm)</th>
          <th>Weight (kg)</th>
        </tr>
      </thead>
      <tbody>
        {{#each clubMembers}}
        <tr>
          <th><img src="{{this.portrait}}"></th>
          <td>{{this.name}}</td>
          <td>{{this.height}}</td>
          <td>{{this.weight}}</td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>

  <div class="clubrequests" style="display: none;">
    <h2>Club Requests:</h2>
    {{#each club_requests}}
      {{userid}}
      {{status}}
      <form action="/accept-join-club-request" method="POST">
        <input type="hidden" name="userid" value="{{userid}}">
        <input type="hidden" name="clubid" value="{{clubid}}">
        <button type="submit">Accept</button>
      </form>
    {{/each}}
  </div>

  <footer>
    <div class="footer-content">
      <div class="pta-logo">
        <img src="/images/logo.png" alt="PTA Logo">
      </div>
      <div class="contact-info">
        <p>Philippine Taekwondo Central Headquarters</p>
        <p>Rizal Memorial Coliseum, Manila, Philippines</p>
        <p>0977 384 5879</p>
        <p>pthtkd@gmail.com</p>
      </div>
      <div class="social-media">
        <p>Follow us</p>
        <div class="icons">
          <a href="https://www.facebook.com"><img src="/images/homepage/fb.png" alt="Facebook"></a>
          <a href="https://www.instagram.com"><img src="/images/homepage/ig.png" alt="Instagram"></a>
          <a href="https://www.twitch.com"><img src="/images/homepage/twitch.webp" alt="Twitch"></a>
        </div>
      </div>
    </div>
  </footer>

  <script>
    function toggleDropdown() {
      document.getElementById("dropdown").classList.toggle("show");
    }

    window.onclick = function (event) {
      if (!event.target.matches('.profile-pic img')) {
        var dropdowns = document.getElementsByClassName("dropdown-content");
        for (var i = 0; i < dropdowns.length; i++) {
          var openDropdown = dropdowns[i];
          if (openDropdown.classList.contains('show')) {
            openDropdown.classList.remove('show');
          }
        }
      }
    }

    document.addEventListener('DOMContentLoaded', function () {
      const participantsTab = document.querySelector('.clubtabs ul li:nth-child(2) a');
      const detailsTab = document.querySelector('.clubtabs ul li:nth-child(1) a');
      const announcementsTab = document.querySelector('.clubtabs ul li:nth-child(3) a');
      const clubRequestsTab = document.querySelector('.clubtabs ul li:nth-child(4) a');
      const leftside = document.querySelector('.leftside');
      const rightside = document.querySelector('.rightside');
      const participantsContainer = document.querySelector('.participants-container');
      const announcementsSection = document.getElementById('announcements-section');
      const clubRequests = document.querySelector('.clubrequests');

      function showParticipants() {
        leftside.style.display = 'none';
        rightside.style.display = 'none';
        participantsContainer.style.display = 'block';
        announcementsSection.style.display = 'none';
        clubRequests.style.display = 'none';
      }

      function showDetails() {
        leftside.style.display = 'block';
        rightside.style.display = 'block';
        participantsContainer.style.display = 'none';
        announcementsSection.style.display = 'none';
        clubRequests.style.display = 'none';
      }

      function showAnnouncements() {
        leftside.style.display = 'none';
        rightside.style.display = 'none';
        participantsContainer.style.display = 'none';
        announcementsSection.style.display = 'block';
        clubRequests.style.display = 'none';
      }

      function showClubRequests() {
        leftside.style.display = 'none';
        rightside.style.display = 'none';
        participantsContainer.style.display = 'none';
        announcementsSection.style.display = 'none';
        clubRequests.style.display = 'block';
      }

      participantsTab.addEventListener('click', function () {
        showParticipants();
        
      });

      detailsTab.addEventListener('click', function () {
        showDetails();
      });

      announcementsTab.addEventListener('click', function () {
        showAnnouncements();
      });
      
      clubRequestsTab.addEventListener('click', function () {
        showClubRequests();
      });
    });

    function openModal() {
      document.getElementById('editclubmodal').style.display = 'block';
    }

    function closeModal() {
      document.getElementById('editclubmodal').style.display = 'none';
    }

    function openannounceModal() {
      document.getElementById('announceModal').style.display = 'block';
    }

    function closeannounceModal() {
      document.getElementById('announceModal').style.display = 'none';
    }

    window.onclick = function (event) {
      if (event.target == document.getElementById('announceModal')) {
        closeannounceModal();
      }
    }
  </script>
</body>

</html>
