<!DOCTYPE html>
<html>
<head>
    <title>PTA | Club Details</title>
    <link rel="icon" type="image/x-icon" href="../images/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="../stylesheets/clubs.css" />
    <link rel="stylesheet" type="text/css" href="../stylesheets/navbar.css" />
</head>

<body class="container">
    <div class="header">
        <div class="navbar">
            <a href="/home"><img src="/images/logo.png" class="logo" alt="Logo"></a>
            <ul class="tabs">
                <li class="home"><a href="/home">Home</a></li>
                <li class="athletes"><a href="/athletes">Athletes</a></li>
                <li class="clubs"><a href="/clubs">Clubs</a></li>
                <li class="events"><a href="/events">Events</a></li>
                <li class="membership"><a href="/membership">Membership</a></li>
                <li class="forum"><a href="/forum">Forum</a></li>
                <li class="notifications">
                    <a href="/notifications">Notifications <span class="badge">3</span></a>
                </li>
                <li class="profile-pic">
                    {{#if user.profilepic}}
                        <a href="#" onclick="toggleDropdown()"><img src="{{user.profilepic}}" alt="Profile Picture" class="profile-picture"></a>
                    {{else}}
                        <a href="#" onclick="toggleDropdown()" class="profile-picture"><img src="/images/none.jpg" alt="Profile Picture" class="profile-picture"></a>
                    {{/if}}
                    <div id="dropdown" class="dropdown-content">
                        <a href="/profile">Profile</a>
                        <a href="/settings">Settings</a>
                        <a href="/help-center">FAQs</a>
                        <a href="/">Logout</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div class="home-container">
        <div class="left-panel"></div>

        <div class="main-panel">
            {{club.clubname}}
        </div>
        {{#if (eq club.registeredby user.username)}}
            <form action="/invite-user" method="post">
                <input type="hidden" name="clubname" value="{{club.clubname}}">
                <input type="hidden" name="club_id" value="{{club.id}}">
                <label for="invited_user">Invite User:</label>
                <input type="text" name="invited_user" id="invited_user">
                <button type="submit">Invite</button>
            </form>
        {{/if}}
    </div>

    <footer>
        <div class="footer-content">
            <div class="pta-logo">
                <img src="/images/logo.png" alt="PTA Logo">
            </div>
            <div class="contact-info">
                <p>Philippine Taekwondo Central Headquarters</p>
                <p>Rizal Memorial Coliseum, Manila, Philippines</p>
                <p>0977 384 5879</p>
                <p>pthtkd@gmail.com</p>
            </div>
            <div class="social-media">
                <p>Follow us</p>
                <div class="icons">
                    <a href="https://www.facebook.com"><img src="/images/homepage/fb.png" alt="Facebook"></a>
                    <a href="https://www.instagram.com"><img src="/images/homepage/ig.png" alt="Instagram"></a>
                    <a href="https://www.twitch.com"><img src="/images/homepage/twitch.webp" alt="Twitch"></a>
                </div>
            </div>
        </div>
    </footer>

    <script>
        function toggleDropdown() {
            document.getElementById("dropdown").classList.toggle("show");
        }

        window.onclick = function(event) {
            if (!event.target.matches('.profile-pic img')) {
                var dropdowns = document.getElementsByClassName("dropdown-content");
                for (var i = 0; i < dropdowns.length; i++) {
                    var openDropdown = dropdowns[i];
                    if (openDropdown.classList.contains('show')) {
                        openDropdown.classList.remove('show');
                    }
                }
            }
        }
    </script>
</body>
</html>
