<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Club Details</title>
  <link rel="icon" type="image/x-icon" href="../images/favicon.ico" /> 
  <link rel="stylesheet" type="text/css" href="../stylesheets/navbar.css" />
  <link rel="stylesheet" type="text/css" href="../stylesheets/clubs-details.css" />
</head>
<body>
  <div class="header">
    <div class="navbar">
      <a href="/home"><img src="/images/logo.png" class="logo" alt="Logo"></a>
      <ul class="tabs">
        <li class="home"><a href="/home">Home</a></li>
        <li class="athletes"><a href="/athletes">Athletes</a></li>
        <li class="clubs"><a href="/clubs">Clubs</a></li>
        <li class="events"><a href="/events">Events</a></li>
        <li class="membership"><a href="/membership">Membership</a></li>
        <li class="forum"><a href="/forum">Forum</a></li>
        <li class="notifications">
          <a href="/notifications">Notifications <span class="badge">3</span></a>
        </li>
        <li class="profile-pic">
          {{#if user.profilepic}}
            <a href="#" onclick="toggleDropdown()"><img src="{{user.profilepic}}" alt="Profile Picture" class="profile-picture"></a>
          {{else}}
            <a href="#" onclick="toggleDropdown()" class="profile-picture"><img src="/images/none.jpg" alt="Profile Picture" class="profile-picture"></a>
          {{/if}}
          <div id="dropdown" class="dropdown-content">
            <a href="/profile">Profile</a>
            <a href="/settings">Settings</a>
            <a href="/help-center">FAQs</a>
            <a href="/">Logout</a>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div class="clubdetails-container">

    <div class="main-panel">
      <img src="{{club.clubpic}}" alt="Club Picture">
      <div class="clubname">
        <span class="name">{{club.clubname}}</span>
        {{#if (eq club.registeredby user.id)}}
          <span><a href="/clubs-manage" class="manage-button" ><img src="/images/settings.png">Manage</a></span>
        {{/if}}
      </div>

      <div class="clubtabs">
        <ul>
          <li><a>Details</a></li>
          <li><a>Members</a></li>
        </ul>
      </div><br>
      <div class="sides">
        <div class="leftside">
          <div class="intro">
            <h3>Intro</h3>
            <p>{{club.phonenum}}</p>
            <p>{{club.email}}</p>
            <p>{{club.clubaddress}}</p>
          </div>
          {{!-- <div class="membersdiv" >
            <p>Members:</p>
            <ul>
              {{#each clubMembers}}
                <li>{{name}}</li>
              {{/each}}
            </ul>
          </div> --}}
        </div>

        <div class="rightside">
          <div class="invitediv">
            {{#if (eq club.registeredby user.id)}}
              <button class="invite-button" onclick="openModal()">+ Invite Members</button>
            {{/if}}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="inviteModal" class="modal">
    <div class="modal-content">
      <span class="close" onclick="closeModal()">&times;</span>
      <form action="/invite-user" method="post">
        <input type="hidden" name="clubname" value="{{club.clubname}}">
        <input type="hidden" name="club_id" value="{{club.id}}">
        <label for="invited_user">Invite User:</label>
        <select name="invited_user" id="invited_user">
          {{#each athletes}}
            <option value="{{userid}}">{{name}}</option>
          {{/each}}
        </select>
        <button type="submit">Invite</button>
      </form>
    </div>
  </div>

  <script>
    function toggleDropdown() {
      document.getElementById("dropdown").classList.toggle("show");
    }

    window.onclick = function(event) {
      if (!event.target.matches('.profile-pic img')) {
        var dropdowns = document.getElementsByClassName("dropdown-content");
        for (var i = 0; i < dropdowns.length; i++) {
          var openDropdown = dropdowns[i];
          if (openDropdown.classList.contains('show')) {
            openDropdown.classList.remove('show');
          }
        }
      }
    }

    function openModal() {
      document.getElementById('inviteModal').style.display = 'block';
    }

    function closeModal() {
      document.getElementById('inviteModal').style.display = 'none';
    }

  </script>
</body>
</html>
