<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>PTA | Events</title>
  <link rel="icon" type="image/x-icon" href="../images/favicon.ico" />
  <link rel="stylesheet" type="text/css" href="../stylesheets/navbar.css" />
  <link rel="stylesheet" type="text/css" href="../stylesheets/clubs-details.css" />
</head>
<body class="container">
  <div class="header">
    <div class="navbar">
      <a href="/home"><img src="/images/logo.png" class="logo" alt="Logo"></a>
      <ul class="tabs">
        <li class="home"><a href="/home">Home</a></li>
        <li class="athletes"><a href="/athletes">Athletes</a></li>
        <li class="clubs"><a href="/clubs">Clubs</a></li>
        <li class="events"><a href="/events">Events</a></li>
        <li class="membership"><a href="/membership">Membership</a></li>
        <li class="forum"><a href="/forum">Forum</a></li>
        <li class="notifications">
          <a href="/notifications">Notifications <span class="badge">3</span></a>
        </li>
        <li class="profile-pic">
          {{#if user.profilepic}}
            <a href="#" onclick="toggleDropdown()"><img src="{{user.profilepic}}" alt="Profile Picture" class="profile-picture"></a>
          {{else}}
            <a href="#" onclick="toggleDropdown()" class="profile-picture"><img src="/images/none.jpg" alt="Profile Picture" class="profile-picture"></a>
          {{/if}}
          <div id="dropdown" class="dropdown-content">
            <a href="/profile">Profile</a>
            <a href="/settings">Settings</a>
            <a href="/help-center">FAQs</a>
            <a href="/">Logout</a>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div class="events-container">
      <img src="{{event.eventpicture}}" alt="Event Picture">
      <div class="clubname">
        <span class="name">{{event.name}}</span>
        {{#if (eq club.registeredby user.id)}}
          <span><a href="/clubs-manage" class="manage-button" ><img src="/images/settings.png">Manage</a></span>
        {{/if}}
      </div>

      <div class="clubtabs">
        <ul>
          <li><a href="#" id="details-tab">Details</a></li>
          <li><a href="#" id="participants-tab">Participants</a></li>
          <li><a>Announcements</a></li>
          {{#if user.ptaverified}}
            <li><a href="#" id="registrations-tab">Registrations</a></li>
            <li><a>Discussion</a></li>
          {{/if}}
        </ul>
      </div><br>
      <div class="sides">
        <div class="leftside">
          <div class="intro">
            <h3>Details</h3>
            <p>{{event.description}}</p>
            <p>{{event.datetime}}</p>
            <p>{{event.eventtype}}</p>
            <p>Yellow belt cap: 10</p>
          </div>
        </div>

        <div class="rightside">
          <div class="registercodediv">
            <div class="buttondiv">
              {{#if user.athleteverified}}
                {{#unless currentregistrant}}
                    <a href="/events-registration/{{event.id}}" class="register-button">Register</a>
                {{else}}
                  <p>Your check-in code is:</p>
                  {{#if currentregistrant.registered}}
                    <h1 class="code">{{currentregistrant.id}}</h1>
                  {{else}}
                    <h1 class="pending">pending</h1>
                  {{/if}}
                {{/unless}}
              {{else}}
                <a class="grayed-register-button">Not Registered</a>
              {{/if}}
            </div>
          </div>
        </div>
      </div>
  </div>

  <div class="participants-container">
    <div class="participants-title">Participants</div>
    <table class="participants-table">
      <thead>
        <tr>
          <th>Player</th>
          <th>Club</th>
          <th>Height</th>
          <th>Weight</th>
          <th>Scoresheet</th>
        </tr>
      </thead>
      <tbody>
        {{#each participants}}
          <tr>
            <td>{{this.playername}}</td>
            <td>{{this.club}}</td>
            <td>{{this.height}}</td>
            <td>{{this.weight}}</td>
            <td><a href="google.com">Go to scoresheet</a></td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>

  <div class="registrations-container">
    <div class="registrations-title">Pending Registrations</div>
    <table class="registrations-table">
      <thead>
        <tr>
          <th>Player</th>
          <th>Club</th>
          <th>Height</th>
          <th>Weight</th>
          <th>Registered?</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {{#each eventregistrations}}
          <tr>
            <td>{{this.playername}}</td>
            <td>{{this.club}}</td>
            <td>{{this.height}}</td>
            <td>{{this.weight}}</td>
            <td>{{this.registered}}</td>
            <td><a href="/events-review-registration/{{this.id}}">review</a></td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>

  <script>
    function toggleDropdown() {
      document.getElementById("dropdown").classList.toggle("show");
    }

    window.onclick = function (event) {
      if (!event.target.matches('.profile-pic img')) {
        var dropdowns = document.getElementsByClassName("dropdown-content");
        for (var i = 0; i < dropdowns.length; i++) {
          var openDropdown = dropdowns[i];
          if (openDropdown.classList.contains('show')) {
            openDropdown.classList.remove('show');
          }
        }
      }
    }

    document.addEventListener('DOMContentLoaded', function () {
      const participantsTab = document.getElementById('participants-tab');
      const detailsTab = document.getElementById('details-tab');
      const registrationsTab = document.getElementById('registrations-tab');
      const leftside = document.querySelector('.leftside');
      const rightside = document.querySelector('.rightside');
      const participantsContainer = document.querySelector('.participants-container');
      const registrationsContainer = document.querySelector('.registrations-container');

      participantsContainer.style.display = 'none';
      registrationsContainer.style.display = 'none';

      function showParticipants() {
        leftside.style.display = 'none';
        rightside.style.display = 'none';
        participantsContainer.style.display = 'block';
        registrationsContainer.style.display = 'none';
      }

      function showDetails() {
        leftside.style.display = 'block';
        rightside.style.display = 'block';
        participantsContainer.style.display = 'none';
        registrationsContainer.style.display = 'none';
      }

      function showRegistrations() {
        leftside.style.display = 'none';
        rightside.style.display = 'none';
        participantsContainer.style.display = 'none';
        registrationsContainer.style.display = 'block';
      }

      participantsTab.addEventListener('click', function () {
        showParticipants();
      });

      detailsTab.addEventListener('click', function () {
        showDetails();
      });

      registrationsTab.addEventListener('click', function () {
        showRegistrations();
      });
    });
  </script>
</body>
</html>
