<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>PTA | Events</title>
  <link rel="icon" type="image/x-icon" href="../images/favicon.ico" />
  <link rel="stylesheet" type="text/css" href="../stylesheets/navbar.css" />
  <link rel="stylesheet" type="text/css" href="../stylesheets/clubs-details.css" />
</head>
<body class="container">
  <div class="header">
    <div class="navbar">
      <a href="/home"><img src="/images/logo.png" class="logo" alt="Logo"></a>
      <ul class="tabs">
        <li class="home"><a href="/home">Home</a></li>
        <li class="athletes"><a href="/athletes">Athletes</a></li>
        <li class="clubs"><a href="/clubs">Clubs</a></li>
        <li class="events"><a href="/events">Events</a></li>
        <li class="membership"><a href="/membership">Membership</a></li>
        <li class="forum"><a href="/forum">Forum</a></li>
        <li class="notifications">
          <a href="/notifications">Notifications <span class="badge">3</span></a>
        </li>
        <li class="profile-pic">
          {{#if user.profilepic}}
            <a href="#" onclick="toggleDropdown()"><img src="{{user.profilepic}}" alt="Profile Picture" class="profile-picture"></a>
          {{else}}
            <a href="#" onclick="toggleDropdown()" class="profile-picture"><img src="/images/none.jpg" alt="Profile Picture" class="profile-picture"></a>
          {{/if}}
          <div id="dropdown" class="dropdown-content">
            <a href="/profile">Profile</a>
            <a href="/settings">Settings</a>
            <a href="/help-center">FAQs</a>
            <a href="/">Logout</a>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div class="events-container">
    <img src="{{event.eventpicture}}" alt="Event Picture">
    <div class="clubname">
      <span class="name">{{event.name}}</span>
      {{#if (eq club.registeredby user.id)}}
        <span><a href="/clubs-manage" class="manage-button" ><img src="/images/settings.png">Manage</a></span>
      {{/if}}
    </div>

    <div class="clubtabs">
      <ul>
        <li><a href="#" id="details-tab">Details</a></li>
        <li><a href="#" id="participants-tab">Participants</a></li>
        {{#if user.ptaverified}}
          <li><a href="#" id="registrations-tab">Registrations</a></li>
          <li><a>Discussion</a></li>
        {{/if}}
        {{#if (or currentregistrant user.ptaverified)}}
          <li><a>Announcements</a></li>
        {{/if}}
      </ul>
    </div><br>

    <div class="eventsides">
  <div class="eventleftside">
    <div class="intro">
      <h3>Details</h3>
      <p>{{event.description}}</p>
      <p>Date: {{event.date}}</p>
      <p>Time: {{event.starttime}} - {{event.endtime}}</p>
      <p>Event Type: {{event.eventtype}}</p>
      <p>Registration Cap: {{registrationcount}} / {{event.registrationcap}}</p>
    </div>
  </div>
  <div class="eventmiddleside">
    {{#if champion}}
    <div class="champion-container">
      <h2>Champion</h2>
      <div class="champion-details">
        <p><strong>Name:</strong> {{champion.name}}</p>
        <p><strong>Club:</strong> {{champion.club}}</p>
        <p><strong>Belt Level:</strong> {{champion.beltlevel}}</p>
        <!-- Add any other relevant champion details -->
      </div>
    </div>
    {{/if}}
    <div class="schedule">
      {{#if (and user.ptaverified (me registrationcount event.registrationcap ))}}
        {{#if (eq event.eventtype 'Kyorugi')}}
        <form action="/begin-competition/{{event.id}}" method="post">
          <button type="submit" class="begincompe">Begin Competition</button>
        </form>
        {{else if (eq event.eventtype 'Poomsae')}}
        <form action="/begin-poomsae/{{event.id}}" method="post">
          <button type="submit" class="beginpoomsae">Begin Competition</button>
        </form>
        {{/if}}

      {{/if}}
      <h2>Schedule</h2>

      {{#each matches}}
        <div class="match">Round {{round}}
          <div class="times">
            {{#if matchtime}}
              <p class="match-time">{{matchtime}}</p>
            {{else}}
            <form action="/update-matchtime" method="post">
              <input type="hidden" name="id" value="{{id}}">
              <input type="hidden" name="eventid" value="{{eventid}}">
              <input type="time" class="matchtime" name="matchtime">
              <button type="submit">OK</button>
            </form>
            {{/if}}
          </div>
          <div class="match-info">
            <p class="match-players">{{player1_name}}</p>
            <p class="match-vs">vs</p>
            <p class="match-players">{{player2_name}}</p>
          </div>
            <a href="/kyorugi-scoresheet/{{id}}" class="kyorugi-scoresheet">scoresheet</a>
        </div>
      {{/each}}
    </div>
  </div>

  <div class="eventrightside">
    <div class="eventregistercodediv">
      <div class="buttondiv">
        {{#if user.athleteverified}}
          {{#unless (or currentregistrant (me registrationcount event.registrationcap))}}
            <a href="/events-registration/{{event.id}}" class="register-button">Register</a>
          {{else if currentregistrant.registered}}
            <p>Your check-in code is:</p>
            <h1 class="code">{{currentregistrant.id}}</h1>
          {{else if currentregistrant}}
            <p>Your check-in code is:</p>
            <h1 class="pending">pending</h1>
          {{else}}
            <h1 class="pending">Registration Limit Reached</h1>
          {{/unless}}
        {{else}}
          <a class="grayed-register-button">Not Registered</a>
        {{/if}}
      </div>
    </div>
  </div>
</div>
  </div>

  <div class="participants-container">
    <div class="participants-title">Participants</div>
    <table class="participants-table">
      <thead>
        <tr>
          <th>Player</th>
          <th>Club</th>
          <th>Height</th>
          <th>Weight</th>
          <th>Scoresheet</th>
        </tr>
      </thead>
      <tbody>
        {{#each participants}}
          <tr>
            <td>{{this.playername}}</td>
            <td>{{this.club}}f</td>
            <td>{{this.height}}</td>
            <td>{{this.weight}}</td>
            <td><a href="google.com">Go to scoresheet</a></td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>

  <div class="registrations-container">
    <div class="registrations-title">Pending Registrations</div>
    <table class="registrations-table">
      <thead>
        <tr>
          <th>Player</th>
          <th>Club</th>
          <th>Height</th>
          <th>Weight</th>
          <th>Registered?</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {{#each eventregistrations}}
          <tr>
            <td>{{this.playername}}</td>
            <td>{{this.club}}</td>
            <td>{{this.height}}</td>
            <td>{{this.weight}}</td>
            <td>{{this.registered}}</td>
            <td><a href="/events-review-registration/{{this.id}}">review</a></td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>

  <script>
    function toggleDropdown() {
      document.getElementById("dropdown").classList.toggle("show");
    }

    window.onclick = function (event) {
      if (!event.target.matches('.profile-pic img')) {
        var dropdowns = document.getElementsByClassName("dropdown-content");
        for (var i = 0; i < dropdowns.length; i++) {
          var openDropdown = dropdowns[i];
          if (openDropdown.classList.contains('show')) {
            openDropdown.classList.remove('show');
          }
        }
      }
    }

    document.addEventListener('DOMContentLoaded', function () {
      const participantsTab = document.getElementById('participants-tab');
      const detailsTab = document.getElementById('details-tab');
      const registrationsTab = document.getElementById('registrations-tab');
      const eventleftside = document.querySelector('.eventleftside');
      const eventrightside = document.querySelector('.eventrightside');
      const eventmiddleside = document.querySelector('.eventmiddleside');
      const participantsContainer = document.querySelector('.participants-container');
      const registrationsContainer = document.querySelector('.registrations-container');

      participantsContainer.style.display = 'none';
      registrationsContainer.style.display = 'none';

      function showParticipants() {
        eventleftside.style.display = 'none';
        eventrightside.style.display = 'none';
        eventmiddleside.style.display= 'none';
        participantsContainer.style.display = 'block';
        registrationsContainer.style.display = 'none';
      }

      function showDetails() {
        eventleftside.style.display = 'block';
        eventrightside.style.display = 'block';
        eventmiddleside.style.display= 'block';
        participantsContainer.style.display = 'none';
        registrationsContainer.style.display = 'none';
      }

      function showRegistrations() {
        eventleftside.style.display = 'none';
        eventrightside.style.display = 'none';
        eventmiddleside.style.display= 'none';
        participantsContainer.style.display = 'none';
        registrationsContainer.style.display = 'block';
      }

      participantsTab.addEventListener('click', function () {
        showParticipants();
      });

      detailsTab.addEventListener('click', function () {
        showDetails();
      });

      registrationsTab.addEventListener('click', function () {
        showRegistrations();
      });
    });
  </script>
</body>
</html>
