<!DOCTYPE html>
<html>
    <head>
        <title>PTA | Forum</title>
        <link rel="icon" type="image/x-icon" href="../images/favicon.ico" />
        <link rel="stylesheet" type="text/css" href="../stylesheets/forum.css" />
        <link rel="stylesheet" type="text/css" href="../stylesheets/navbar.css" />
    </head>

    <body class="container">
        <div class="header">
            <div class="navbar">
                <a href="home"><img src="/images/logo.png" class="logo" alt="Logo"></a>
                <ul class="tabs">
                    <li class="home"><a href="home">Home</a></li>
                    <li class="athletes"><a href="athletes">Athletes</a></li>
                    <li class="clubs"><a href="clubs">Clubs</a></li>
                    <li class="events"><a href="events">Events</a></li>
                    <li class="membership"><a href="membership">Membership</a></li>
                    <li class="forum"><a href="forum">Forum</a></li>
                    <li class="notifications">
                        <a href="notifications">Notifications <span class="badge">3</span></a>
                    </li>
                    <li class="profile-pic">
                        {{#if user.profilepic}}
                            <a href="#" onclick="toggleDropdown()"><img src="{{user.profilepic}}" alt="Profile Picture" class="profile-picture"></a>
                        {{else}}
                            <a href="#" onclick="toggleDropdown()" class="profile-picture"><img src="/images/none.jpg" alt="Profile Picture" class="profile-picture"></a>
                        {{/if}}
                        <div id="dropdown" class="dropdown-content">
                            <a href="profile">Profile</a>
                            <a href="settings">Settings</a>
                            <a href="/">Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

    <div class="forum-container">
        <div class="main-content">
            <div class="content">
                <h2>Recent Threads</h2>
                {{#each forumthreads}}
                <a href='post?postId={{postId}}' class='post-link'>
                <div class='post-container'>
                    <div class='post-content'>
                        <div class='post-info'>
                            <span class='community'><a class='post-community' href='community?community='>{{community}}</a> •</span>
                            <span class='small'>by <a class='post-user' href='profile?username='>{{user}}</a> on {{date}}</span>
                        </div>
                        <h2 class='post-title'>{{title}}</h2>
                        <p class='post-description'>{{body}}</p>
                       <div class='post-actions'>
                        <ul class="post-buttons">
                           <li class="comment-buttons">    
                             <div class='comment-button comment'>Comment
                            <img src="/images/comment.png" alt="comment"></div></li>
                              <li class="vote-buttons">
                                     <div class="vote-button upvote">
                                         <img src="/images/thumbs up.png" alt="Upvote">
                                            <span class="upvote-count">{{upvotes}}</span>
                                      </div>
                                        <div class="vote-separator"></div>
                                             <div class="vote-button downvote">
                                                <img src="/images/thumbs down.png" alt="Downvote">
                                                     <span class="downvote-count">{{downvotes}}</span>
                                              </div>
                                  </li>
                                 </ul>
                      </div>
                    </div>
                </div>
                </a>
                {{/each}}
            </div>
        </div>
    </div>

    <script>
        function toggleDropdown() {
            document.getElementById("dropdown").classList.toggle("show");
        }

        window.onclick = function(event) {
            if (!event.target.matches('.profile-pic img')) {
                var dropdowns = document.getElementsByClassName("dropdown-content");
                for (var i = 0; i < dropdowns.length; i++) {
                    var openDropdown = dropdowns[i];
                    if (openDropdown.classList.contains('show')) {
                        openDropdown.classList.remove('show');
                    }
                }
            }
        }
    </script>
</body>
</html>
