<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PTA | Membership Review</title>
  <link rel="icon" type="image/x-icon" href="../images/favicon.ico">
  <link rel="stylesheet" type="text/css" href="../stylesheets/membership-review.css">
  <link rel="stylesheet" type="text/css" href="../stylesheets/navbar.css">
</head>

<body class="container">
  <header class="membership-header">
    <nav class="membership-navbar">
      <a href="home">
        <img src="/images/logo.png" class="membership-logo" alt="PTA Logo">
      </a>
      <div class="profile-menu">
        {{#if user.profilepic}}
        <a href="#" onclick="toggleDropdown()" class="memprofile-pic">
          <img src="{{user.profilepic}}" alt="Profile Picture" class="profile-picture">
        </a>
        {{else}}
        <a href="#" onclick="toggleDropdown()" class="memprofile-pic">
          <p>:(</p>
        </a>
        {{/if}}
        <div id="dropdown" class="dropdown-content">
          <a href="profile">Profile</a>
          <a href="settings">Settings</a>
         
          <a href="/">Logout</a>
        </div>
      </div>
    </nav>
  </header>

  <main class="membership-container">
    <section class="review-header">
      <h1>Review Instructor Application</h1>
    </section>
    <form action="/update-instructorstatus" method="post" class="review-form">
      <section class="review-details">
        <h2>Applicant Information</h2>

        <input type="hidden" name="applicationId" value="{{registration.id}}">
        <table class="details-section">
          <tr>
            <td colspan="2">
              <img class="athlete-picture" src="{{registration.portrait}}">
            </td>
            <td>
              <table>
              <tr>
                <td><strong>First Name:</strong></td>
                <td>{{registration.firstname}}</td>
              </tr>
              <tr>
                <td><strong>Middle Initial:</strong></td>
                <td>{{registration.middlename}}</td>
              </tr>
              <tr>
                <td><strong>Last Name:</strong></td>
                <td>{{registration.lastname}}</td>
              </tr>
              <tr>
                <td><strong>Gender:</strong></td>
                <td>{{registration.gender}}</td>
              </tr>
              <tr>
                <td><strong>Birthday:</strong></td>
                <td>{{formatDate registration.bday "MMMM D, YYYY"}}</td>
              </tr>
              <tr>
                <td><strong>Phone Number:</strong></td>
                <td>{{registration.phonenum}}</td>
              </tr>
              <tr>
                <td><strong>Email:</strong></td>
                <td>{{registration.email}}</td>
              </tr>
              <tr>
                <td><strong>Region:</strong></td>
                <td>{{registration.region}}</td>
              </tr>
              <tr>
                <td><strong>Club:</strong></td>
                <td>{{registration.clubname}}</td>
              </tr>
              <tr>
                <td colspan="2">
                  <a href="{{registration.birthcert}}" target="_blank" download>Birth Certificate</a><br>
                  <a href="{{registration.educproof}}" target="_blank" download>Proof of Education</a><br>
                  <a href="{{registration.poomsaecert}}" target="_blank" download>Poomsae Certificate</a><br>
                  <a href="{{registration.kukkiwoncert}}" target="_blank" download>Kukkiwon Certificate</a><br>
                  <a href="{{registration.ptablackbeltcert}}" target="_blank" download>PTA Black-Belt Certificate</a><br>
                  <a href="{{registration.paymentproof}}" target="_blank" download>Payment Proof</a><br>
                </td>
              </tr>
              </table>
            </td>
          </tr>
          
        </table>

      </section>

      <section class="application-actions">
        <h1 class="status">
          {{#if (eq registration.status 1)}}
          <span class="status-under-review">Under Review</span>
          {{else if (eq registration.status 2)}}
          <span class="status-en-route">En-route to Regional Office</span>
          {{else if (eq registration.status 3)}}
          <span class="status-shipped">ID Shipped</span>
          {{else if (eq registration.status 4)}}
          <span class="status-rejected">Rejected</span>
          Reason:<p class="suspendmsg">{{registration.rejectmsg}}</p>
          <p class="suspendmsg">{{registration.description}}</p>
          {{else if (eq registration.status 5)}}
          <span class="status-unknown">Expired</span>
          {{else if (eq registration.status 6)}}
          <span class="status-unknown">Suspended</span>
          Reason:<p class="suspendmsg">{{registration.suspendmsg}}</p>
          <p class="suspendmsg">{{registration.susdescription}}</p>
          {{/if}}
        </h1>
        {{#if user.ptaverified}}
          <div class="action-buttons">
            <button type="button" onclick="printDiv('printableArea')">Print</button>
            <button type="submit" name="status" value="1">Under Review</button>
            <button type="submit" name="status" value="2">En-route to Regional Office</button>
            <button type="button" id="idshipped" class="idshipped">ID Shipped</button>
            {{#if (eq registration.status 3)}}
              <button type="button" id="suspendbtn" class="suspendbtn">Suspend this Instructor</button>
            {{else}}
              <button type="button" id="rejectbtn" class="rejectbtn">Reject Application</button>
            {{/if}}
          </div>

          <div class="confirmrejectscreen" id="confirmrejectscreen" style="display: none;">
            <h3>Please state reason for rejection.</h3>
            <select name="rejectmsg" id="rejectmsg">
              <option value="Incomplete documents">Incomplete documents</option>
              <option value="Invalid information">Invalid information</option>
              <option value="Non-compliance with requirements">Non-compliance with requirements</option>
              <option value="Other">Other</option>
            </select>
            <textarea name="description" id="description" cols="30" rows="10">Describe in more detail</textarea>
            <button type="button" class="cancelreject" id="cancelreject">Cancel</button>
            <button type="submit" value="4" name="status" id="confirm">Confirm</button>
          </div>

          <div class="confirmsuspendscreen" id="confirmsuspendscreen" style="display: none;">
            <h3>This action will remove the instructor's record. Please state reason for suspension.</h3>
            <select name="suspendmsg" id="suspendmsg">
                <option value="Violent behavior">Violent behavior</option>
                <option value="Cheating">Cheating</option>
                <option value="Non-compliance with requirements">Non-compliance with requirements</option>
                <option value="Unprofessional conduct">Unprofessional conduct</option>
                <option value="Insubordination">Insubordination</option>
                <option value="Other">Other</option>
            </select>
            <textarea name="susdescription" id="susdescription" cols="30" rows="10"></textarea>
            <button type="button" class="cancelsuspend" id="cancelsuspend">Cancel</button>
            <button type="submit" value="6" name="status" id="confirm">Confirm</button>
          </div>

          <div class="confirmscreen" id="confirmscreen" style="display: none;">
            <h3>Are you sure? The applicant will be notified that his ID is ready. This registration will also disappear
              after a few days.</h3>
            <button type="button" class="cancel" id="cancel">Cancel</button>
            <button type="submit" value="3" name="status" id="confirm">Confirm</button>
          </div>
        {{/if}}
        <div class="backtolist">
          <a href="/membership-status">Back to list</a>
        </div>

      </section>

      <div class="printwindow" id="printableArea">
        <p><strong>ID:</strong> {{registration.id}}</p>
        <p><strong>First Name:</strong> {{registration.firstname}}</p>
        <p><strong>Middle Initial:</strong> {{registration.mi}}</p>
        <p><strong>Last Name:</strong> {{registration.lastname}}</p>
        {{!-- <p>submitted by: {{registration.submittedby}}</p> --}}
      </div>

      <div class="confirmscreen" id="confirmscreen" style="display: none;">
        <h3>Are you sure? The player will be notified that his ID is ready. This registration will also disappear after
          a few days.</h3>
        <button type="button" class="cancel" id="cancel">Cancel</button>
        <button type="submit" value="4" name="status" id="confirm">Confirm</button>
      </div>
    </form>
  </main>

  <script>
    const confirmscreen = document.getElementById("confirmscreen");
    const confirmrejectscreen = document.getElementById("confirmrejectscreen");
    const cancelreject = document.getElementById("cancelreject");
    const actionButtons = document.querySelector(".action-buttons");
    const cancel = document.getElementById("cancel");
    const idshipped = document.getElementById("idshipped");
    const rejectbtn = document.getElementById("rejectbtn");

    document.addEventListener("DOMContentLoaded", function() {
      const suspendbtn = document.getElementById("suspendbtn");
      const confirmsuspendscreen = document.getElementById("confirmsuspendscreen");
      const cancelsuspend = document.getElementById("cancelsuspend");

      cancelsuspend.addEventListener("click", function (event) {
        event.preventDefault();
        confirmsuspendscreen.style.display = "none";
        actionButtons.style.display = "block";
      });

      suspendbtn.addEventListener("click", function (event) {
        event.preventDefault();
        confirmsuspendscreen.style.display = "block";
        actionButtons.style.display = "none";
      });
    });

    cancel.addEventListener("click", function (event) {
      event.preventDefault();
      confirmscreen.style.display = "none";
      actionButtons.style.display = "block";
    });

    idshipped.addEventListener("click", function (event) {
      event.preventDefault();
      confirmscreen.style.display = "block";
      actionButtons.style.display = "none";
    });

    cancelreject.addEventListener("click", function (event) {
      event.preventDefault();
      confirmrejectscreen.style.display = "none";
      actionButtons.style.display = "block";
    });

    rejectbtn.addEventListener("click", function (event) {
      event.preventDefault();
      confirmrejectscreen.style.display = "block";
      actionButtons.style.display = "none";
    });

    function printDiv(divName) {
      var printContents = document.getElementById(divName).innerHTML;
      var originalContents = document.body.innerHTML;
      document.getElementById(divName).classList.add('visible');
      document.body.innerHTML = printContents;
      window.print();
      document.body.innerHTML = originalContents;
      document.getElementById(divName).classList.remove('visible');
      window.location.reload(); // Reload to reset the page state
    }

    function toggleDropdown() {
      document.getElementById("dropdown").classList.toggle("show");
    }
  </script>
</body>

</html>