<!DOCTYPE html>
<html>
<head>
  <title>PTA | Apply for Instructor ID</title>
  <link rel="icon" type="image/x-icon" href="../images/favicon.ico" />
  <link rel="stylesheet" type="text/css" href="../stylesheets/membership-ncc.css" />
  <link rel="stylesheet" type="text/css" href="../stylesheets/navbar.css" />
</head>
<body style="margin:0;" class="container">

  <div class="header">
    <div class="navbar">
      <a href="home"><img src="/images/logo.png" class="logo" alt="Logo"></a>
      <ul class="tabs">
        <li class="home"><a href="home">Home</a></li>
        <li class="athletes"><a href="athletes">Athletes</a></li>
        <li class="clubs"><a href="clubs">Clubs</a></li>
        <li class="events"><a href="events">Events</a></li>
        <li class="membership"><a href="membership">Membership</a></li>
        <li class="forum"><a href="forum">Forum</a></li>
         <li class="notifications">
          <a href="/notifications">Notifications
            {{#if notifications}}
            <span class="badge">{{notifications.length}}</span>
            {{/if}}
          </a>
        </li>
        <li class="analytics"><a href="analytics">Analytics</a></li>
        <li class="profile-pic">
          {{#if user.profilepic}}
          <a href="#" onclick="toggleDropdown()"><img src="{{user.profilepic}}" alt="Profile Picture" class="profile-picture"></a>
          {{else}}
          <a href="#" onclick="toggleDropdown()" class="profile-picture"><img src="/images/none.jpg" alt="Profile Picture" class="profile-picture"></a>
          {{/if}}
          <div id="dropdown" class="dropdown-content">
            <a href="profile">Profile</a>
            <a href="settings">Settings</a>
            <a href="/">Logout</a>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div class="content-container">
    <div class="leftside">
      <div class="forumtitle">
        <h1 class="forumname"></h1>
        <h3 class="forumdesc">Apply for Instructor ID</h3>
      </div>
    </div>
    <div class="rightside">
      <div class="formcontainer">
        <form id="nccform" action="/submit-instructor" method="post" enctype="multipart/form-data">
          <!-- Page 1 -->
          <div class="ins-page ins-page1">

            <div class="form-row">
              <div class="form-group">
                <label for="firstname">First Name</label>
                <input type="text" id="firstname" name="firstname" value="{{user.firstname}}"required>
              </div>
              <div class="form-group">
                <label for="middlename">M.I.</label>
                <input type="text" id="middlename" name="middlename" value="{{user.middlename}}"required>
              </div>
              <div class="form-group">
                <label for="lastname">Last Name</label>
                <input type="text" id="lastname" name="lastname" value="{{user.lastname}}"required>
              </div>
            </div>

            <div class="form-row">
              <div class="form-group">
                <label for="gender">Gender</label>
                <select id="gender" name="gender">
                  <option value="female">Female</option>
                  <option value="male">Male</option>
                </select>
              </div>
              <div class="form-group">
                <label for="bday">Birthday</label>
                <input type="date" id="bday" name="bday" required>
              </div>
            </div>

            <div class="form-row">
              <div class="form-group">
                <label for="phonenum">Mobile Number</label>
                <input type="tel" id="phonenum" name="phonenum" pattern="\d{4}\d{3}\d{4}" placeholder="0912-345-6789" required>
              </div>
              <div class="form-group">
                <label for="email">E-mail</label>
                <input type="email" id="email" name="email" value="{{user.email}}"required>
              </div>
              <div class="form-group">
                <label for="confemail">Confirm E-mail</label>
                <input type="email" id="confemail" name="confemail"required>
              </div>
            </div>

            {{!-- <div class="form-row">
              <div class="form-group">
                <label for="clubregion">Region of Club</label>
                <select name="clubregion" id="clubregion">
                  <option value="Region I – Ilocos Region">Region I – Ilocos Region</option>
                  <option value="Region II – Cagayan Valley">Region II – Cagayan Valley</option>
                  <option value="Region III – Central Luzon">Region III – Central Luzon</option>
                  <option value="Region IV‑A – CALABARZON">Region IV‑A – CALABARZON</option>
                  <option value="MIMAROPA Region">MIMAROPA Region</option>
                  <option value="Region V – Bicol Region">Region V – Bicol Region</option>
                  <option value="Region VI – Western Visayas">Region VI – Western Visayas</option>
                  <option value="Region VII – Central Visayas">Region VII – Central Visayas</option>
                  <option value="Region VIII – Eastern Visayas">Region VIII – Eastern Visayas</option>
                  <option value="Region IX – Zamboanga Peninsula">Region IX – Zamboanga Peninsula</option>
                  <option value="Region X – Northern Mindanao">Region X – Northern Mindanao</option>
                  <option value="Region XI – Davao Region">Region XI – Davao Region</option>
                  <option value="Region XII – SOCCSKSARGEN">Region XII – SOCCSKSARGEN</option>
                  <option value="Region XIII – Caraga">Region XIII – Caraga</option>
                  <option value="NCR – National Capital Region">NCR – National Capital Region</option>
                  <option value="CAR – Cordillera Administrative Region">CAR – Cordillera Administrative Region</option>
                  <option value="BARMM – Bangsamoro Autonomous Region in Muslim Mindanao">BARMM – Bangsamoro Autonomous Region in Muslim Mindanao</option>
                </select>
              </div>
            </div> --}}

            <div class="form-row button-group">
              <button class="cancel-button" type="button" onclick="window.location.href='membership';">Cancel</button>
              <button class="next-button" type="button" onclick="showNextPage()">Next</button>
            </div>
          </div>

          <!-- Page 2 -->
          <div class="ins-page ins-page3 hidden">
            <div class="form-row">
              <div class="form-group">
                <label for="birthcert">Birth Certificate NSO/PSA</label>
                <input type="file" id="birthcert" name="birthcert" required>
              </div>
              <div class="form-group">
                <label for="educproof">Proof of College/Highschool Education (2 years)</label>
                <input type="file" id="educproof" name="educproof" required>
              </div>
              <div class="form-group">
                <label for="poomsaecert">Poomsae Course Certificate</label>
                <input type="file" id="poomsaecert" name="poomsaecert" required>
              </div>
              <div class="form-group">
                <label for="kukkiwoncert">1st Dan Kukkiwon Certificate</label>
                <input type="file" id="kukkiwoncert" name="kukkiwoncert" required>
              </div>
              <div class="form-group">
                <label for="ptablackbeltcert">2nd Dan PTA Blackbelt Certificate</label>
                <input type="file" id="ptablackbeltcert" name="ptablackbeltcert" required>
              </div>
              <div class="form-group">
                <label for="portrait">1:1 Instructor Picture</label>
                <input type="file" id="portrait" name="portrait" required>
              </div>
              <div class="form-group">
                <label for="signature">Sign Here</label>
                <input type="text" id="signature" name="signature" required>
              </div>
            </div>

            <div class="form-row">
              <div class="form-group">
                <input type="checkbox" id="terms" name="terms"required>
								<label for="terms">I AGREE TO THE TERMS OF SERVICE</label>
								<p>Certification, Waiver and Release Form<br>
									1. I hereby certify that the above information is true and correct.<br>
									2. I acknowledge, fully understand and will abide by the rules and regulations of PTA.<br>
									3. I do hereby waive, release and discharge any and all liabilities from death, injuries or damages arising from my own negligence, furthermore I or my family, will waive and release any or all rights, claims for damages from the entire PTA body including the PTA Officers, PTA competition officials, PTA instructors, or any department/facility of PTA like PTA Admin, PTA Competitions Management Team or Digital Team from any Taekwondo related issues.
								</p>
							</div>
						</div>

						<div class="form-row">
							<div class="form-group">
								<input type="checkbox" id="waiver" name="waiver" required>
								<label for="waiver">I AGREE TO THIS WAIVER AND RELEASE FORM</label>
							</div>
						</div>

						<div class="form-row button-group">
							<button class="cancel-button" type="button" onclick="showPreviousPage()">Previous</button>
							<button class="next-button" type="submit" onclick="showConfirmationMessage(event)">Submit</button>

						</div>

						<p id="error-message" style="color:red;"></p>
					</div>
				</form>		

        <div id="error-message1" class="hidden">Please fill up all fields before submitting.</div>
				<div id="confirmation-message" class="hidden">Application successful! Please allow up to 2 weeks to receive an update on your membership status.</div>

      </div>
    </div>
  </div>

  <div class="footer">
    <p>&copy; 2024 Philippine Taekwondo Association. All rights reserved.</p>
  </div>
	<style>
    .hidden { display: none; }
  </style>
  <script>
  function toggleDropdown() {
    document.getElementById("dropdown").classList.toggle("show");
  }

  window.onclick = function (event) {
    if (!event.target.matches('.profile-pic img')) {
      var dropdowns = document.getElementsByClassName("dropdown-content");
      for (var i = 0; i < dropdowns.length; i++) {
        var openDropdown = dropdowns[i];
        if (openDropdown.classList.contains('show')) {
          openDropdown.classList.remove('show');
        }
      }
    }
  }

  let currentPage = 0;
  const pages = document.querySelectorAll('.ins-page');

  function showPage(pageIndex) {
    pages.forEach((page, index) => {
      page.classList.toggle('hidden', index !== pageIndex);
    });
  }

  function showNextPage() {
    if (validatePage(currentPage)) {
      if (currentPage < pages.length - 1) {
        currentPage++;
        showPage(currentPage);
      }
    }
  }

  function showPreviousPage() {
    if (currentPage > 0) {
      currentPage--;
      showPage(currentPage);
    }
  }

  function validatePage(pageIndex) {
    const page = pages[pageIndex];
    const inputs = page.querySelectorAll('input, select');
    let isValid = true;

    inputs.forEach(input => {
      if (!input.checkValidity()) {
        input.reportValidity();
        isValid = false;
      }
    });

    return isValid;
  }

  // Initial display setup
  showPage(currentPage);
function showConfirmationMessage(event) {
	event.preventDefault(); // Prevent form submission to validate fields
	
	const form = document.getElementById("nccform");
	const confirmationMessage = document.getElementById("confirmation-message");
	const errorMessage = document.getElementById("error-message");

	// Hide both confirmation and error messages initially
	confirmationMessage.classList.add("hidden");
	errorMessage.classList.add("hidden");

	// Check if all required fields are filled out
	let allFieldsFilled = true;
	const requiredFields = form.querySelectorAll("[required]");
	requiredFields.forEach((field) => {
		if (!field.value) {
			allFieldsFilled = false;
			field.classList.add("error"); // Optionally highlight empty fields
			field.reportValidity(); // Display validation message
		} else {
			field.classList.remove("error");
		}
	});

	// If all fields are filled, show confirmation and submit form after delay
	if (allFieldsFilled) {
		confirmationMessage.classList.remove("hidden");
		setTimeout(() => {
			form.submit();
		}, 2000); // Adjust the delay as needed
	} else {
		// Show general error message if some fields are missing
		errorMessage.textContent = "Please fill up all fields before submitting.";
		errorMessage.classList.remove("hidden");
	}
}

</script>

  
</body>
</html>
