<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PTA | Membership Review</title>
  <link rel="icon" type="image/x-icon" href="../images/favicon.ico">
  <link rel="stylesheet" type="text/css" href="../stylesheets/membership-review.css">
  <link rel="stylesheet" type="text/css" href="../stylesheets/navbar.css">
</head>

<body class="container">
  <header class="membership-header">
    <nav class="membership-navbar">
      <a href="home">
        <img src="/images/logo.png" class="membership-logo" alt="PTA Logo">
      </a>
      <div class="profile-menu">
        {{#if user.profilepic}}
        <a href="#" onclick="toggleDropdown()" class="memprofile-pic">
          <img src="{{user.profilepic}}" alt="Profile Picture" class="profile-picture">
        </a>
        {{else}}
        <a href="#" onclick="toggleDropdown()" class="memprofile-pic">
          <p>:(</p>
        </a>
        {{/if}}
        <div id="dropdown" class="dropdown-content">
          <a href="profile">Profile</a>
          <a href="settings">Settings</a>
          <a href="help-center">FAQs</a>
          <a href="/">Logout</a>
        </div>
      </div>
    </nav>
  </header>

  <main class="membership-container">
    <section class="review-header">
      <h1>Review NCC Application</h1>
    </section>
    
      <div class="review-details flex column">
				<div>
				  <img class="rounded" src="{{registration.portrait}}">
          <div>
            <p><strong>ID:</strong> <span class="information">{{registration.id}}</span></p>
            <p><strong>First Name:</strong> <span class="information">{{registration.firstname}}</span></p>
            <p><strong>Middle Initial:</strong> <span class="information">{{registration.middlename}}</span></p>
            <p><strong>Last Name:</strong> <span class="information">{{registration.lastname}}</span></p>
            <p><strong>Gender:</strong> <span class="information">{{registration.gender}}</span></p>
            <p><strong>Birthday:</strong> <span class="information">{{registration.bday}}</span></p>
            <p><strong>Phone Number:</strong> <span class="information">{{registration.phonenum}}</span></p>
            <p><strong>Email:</strong> <span class="information">{{registration.email}}</span></p>
          </div>   
				</div>
				
        <div> 
          <p><strong>Last Promotion:</strong> <span class="information">{{registration.lastpromo}}</span></p>
          <p><strong>Promotion Location:</strong> <span class="information">{{registration.promolocation}}</span></p>
          <p><strong>Club:</strong> <span class="information">{{registration.club}}</span></p>
          <p><strong>Region:</strong> <span class="information">{{registration.clubregion}}</span></p>
          <p><strong>Belt Level:</strong> <span class="information">{{registration.beltlevel}}</span></p>
          <p><strong>Instructor First Name:</strong> <span class="information">{{registration.instructorfirstname}}</span></p>
          <p><strong>Instructor Middle Initial:</strong> <span class="information">{{registration.instructormi}}</span></p>
          <p><strong>Instructor Last Name:</strong> <span class="information">{{registration.instructorlastname}}</span></p>
          <p><strong>Instructor Mobile:</strong> <span class="information">{{registration.instructormobile}}</span></p>
          <p><strong>Instructor Email:</strong> <span class="information">{{registration.instructoremail}}</span></p>
          <p>Submitted by: <span class="information">{{registration.submittedby}}</span></p>
        </div>
				
      </div>

    <form action="/update-nccstatus" method="post" class="review-form">
      <input type="hidden" name="applicationId" value="{{registration.id}}">
      <section class="application-actions">
        <h1 class="status">
          {{#if (eq registration.status 1)}}
            <span class="status-under-review">Under Review</span>
          {{else if (eq registration.status 2)}}
            <span class="status-printed">Printed</span>
          {{else if (eq registration.status 3)}}
            <span class="status-en-route">En-route to Regional Office</span>
          {{else if (eq registration.status 4)}}
            <span class="status-shipped">ID Shipped</span>
          {{else if (eq registration.status 0)}}
            <span class="status-rejected">Rejected</span>
          {{else}}
            <span class="status-unknown">Unknown Status</span>
          {{/if}}
        </h1>
        {{#if user.ptaverified}}
          <div class="action-buttons">
            <button type="button" onclick="printDiv('printableArea')">Print</button>
            <button type="submit" name="status" value="1">Under Review</button>
            <button type="submit" name="status" value="2">Printed</button>
            <button type="submit" name="status" value="3">En-route to Regional Office</button>
            <button type="button" id="idshipped" class="idshipped">ID Shipped</button>
            <button type="submit" name="status" value="0">Reject Application</button>
          </div>
          <div class="confirmscreen" id="confirmscreen" style="display: none;">
            <h3>Are you sure? The player will be notified that his ID is ready.</h3>
            <button type="button" class="cancel" id="cancel">Cancel</button>
            <button type="submit" value="4" name="status" id="confirm">Confirm</button>
          </div>
        {{/if}}
        <div class="backtolist">
          <a href="/membership-status">Back to list</a>
        </div>
      </section>
      <div class="printwindow" id="printableArea">
        <p><strong>ID:</strong> {{registration.id}}</p>
        <p><strong>First Name:</strong> {{registration.firstname}}</p>
        <p><strong>Middle Initial:</strong> {{registration.mi}}</p>
        <p><strong>Last Name:</strong> {{registration.lastname}}</p>
        <a href="{{registration.birthcert}}" target="_blank" download>Birth Certificate</a>
        <p>submitted by: {{registration.submittedby}}</p>
      </div>
    </form> 

  </main>
  
  <script>
    const confirmscreen = document.getElementById("confirmscreen");
    const actionButtons = document.querySelector(".action-buttons");
    const cancel = document.getElementById("cancel");
    const idshipped = document.getElementById("idshipped");

    cancel.addEventListener("click", function(event) {
      event.preventDefault();
      confirmscreen.style.display = "none";
      actionButtons.style.display = "block";
    });

    idshipped.addEventListener("click", function(event) {
      event.preventDefault();
      confirmscreen.style.display = "block";
      actionButtons.style.display = "none";
    });

    function printDiv(divName) {
      var printContents = document.getElementById(divName).innerHTML;
      var originalContents = document.body.innerHTML;
      document.getElementById(divName).classList.add('visible');
      document.body.innerHTML = printContents;
      window.print();
      document.body.innerHTML = originalContents;
      document.getElementById(divName).classList.remove('visible');
      window.location.reload(); // Reload to reset the page state
    }

    function toggleDropdown() {
      document.getElementById("dropdown").classList.toggle("show");
    }
  </script>
</body>

</html>
